<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Anchor</h1>
            <p class="home-big-text">Drop Anchor. Hold Your Ground.</p>
            <p class="home-text">It's basically a game about staying still - sounds<br class="desk"/> boring, but trust me, it's not.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.VanjaSkelin.Anchor">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>